# Asking Questions about Countries

## Part 1:  The Questions

![](country.png)

## Part 3:  Using SQL

### Getting started with SQL

1.  In your browser go to https://knuth.luther.edu:8443
   * Note:  You will probably get an error about an insecure or invalid certificate
   * Click on advanced or more information and give the OK, always accept this certificate
2.  Login using your NorseKey and Password
3.  The next cell shows how to set up your environment and load the country data

In [7]:
# all of your notebooks and homework using SQL are going to start something like this
import warnings
warnings.filterwarnings('ignore')
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Once you have the SQL extension loaded you need to connect to the database using a connection URL and the magic syntax in the cell below.  You will need to change the username to use your own username.

In [8]:
%%sql postgresql://vannjo02:@localhost/world

'Connected: vannjo02@world'

We will answer the following questions and more using the SQL claues

* select
* from
* where
* order by
* limit

### List all data about all countries in the Middle East region

In [20]:
%%sql
select *
from country
where region = 'Middle East';

18 rows affected.

[('ARE', 'United Arab Emirates', 'Asia', 'Middle East', 83600.0, 1971, 2441000, 74.1, Decimal('37966.00'), Decimal('36846.00'), 'Al-Imarat al-´Arabiya al-Muttahida', 'Emirate Federation', 'Zayid bin Sultan al-Nahayan', 65, 'AE'),
 ('ARM', 'Armenia', 'Asia', 'Middle East', 29800.0, 1991, 3520000, 66.4, Decimal('1813.00'), Decimal('1627.00'), 'Hajastan', 'Republic', 'Robert Kot\x9aarjan', 126, 'AM'),
 ('AZE', 'Azerbaijan', 'Asia', 'Middle East', 86600.0, 1991, 7734000, 62.9, Decimal('4127.00'), Decimal('4100.00'), 'Azärbaycan', 'Federal Republic', 'Heydär Äliyev', 144, 'AZ'),
 ('BHR', 'Bahrain', 'Asia', 'Middle East', 694.0, 1971, 617000, 73.0, Decimal('6366.00'), Decimal('6097.00'), 'Al-Bahrayn', 'Monarchy (Emirate)', 'Hamad ibn Isa al-Khalifa', 149, 'BH'),
 ('GEO', 'Georgia', 'Asia', 'Middle East', 69700.0, 1991, 4968000, 64.5, Decimal('6064.00'), Decimal('5924.00'), 'Sakartvelo', 'Republic', 'Eduard \x8aevardnadze', 905, 'GE'),
 ('IRQ', 'Iraq', 'Asia', 'Middle East', 438317.0, 1932, 23115000, 66.5, Decimal('11500.00'), None, 'Al-´Iraq', 'Republic', 'Saddam Hussein al-Takriti', 1365, 'IQ'),
 ('ISR', 'Israel', 'Asia', 'Middle East', 21056.0, 1948, 6217000, 78.6, Decimal('97477.00'), Decimal('98577.00'), 'Yisra\x92el/Isra\x92il', 'Republic', 'Moshe Katzav', 1450, 'IL'),
 ('YEM', 'Yemen', 'Asia', 'Middle East', 527968.0, 1918, 18112000, 59.8, Decimal('6041.00'), Decimal('5729.00'), 'Al-Yaman', 'Republic', 'Ali Abdallah Salih', 1780, 'YE'),
 ('JOR', 'Jordan', 'Asia', 'Middle East', 88946.0, 1946, 5083000, 77.4, Decimal('7526.00'), Decimal('7051.00'), 'Al-Urdunn', 'Constitutional Monarchy', 'Abdullah II', 1786, 'JO'),
 ('KWT', 'Kuwait', 'Asia', 'Middle East', 17818.0, 1961, 1972000, 76.1, Decimal('27037.00'), Decimal('30373.00'), 'Al-Kuwayt', 'Constitutional Monarchy (Emirate)', 'Jabir al-Ahmad al-Jabir al-Sabah', 2429, 'KW'),
 ('CYP', 'Cyprus', 'Asia', 'Middle East', 9251.0, 1960, 754700, 76.7, Decimal('9333.00'), Decimal('8246.00'), 'Kýpros/Kibris', 'Republic', 'Glafkos Klerides', 2430, 'CY'),
 ('LBN', 'Lebanon', 'Asia', 'Middle East', 10400.0, 1941, 3282000, 71.3, Decimal('17121.00'), Decimal('15129.00'), 'Lubnan', 'Republic', 'Émile Lahoud', 2438, 'LB'),
 ('OMN', 'Oman', 'Asia', 'Middle East', 309500.0, 1951, 2542000, 71.8, Decimal('16904.00'), Decimal('16153.00'), '´Uman', 'Monarchy (Sultanate)', 'Qabus ibn Sa´id', 2821, 'OM'),
 ('QAT', 'Qatar', 'Asia', 'Middle East', 11000.0, 1971, 599000, 72.4, Decimal('9472.00'), Decimal('8920.00'), 'Qatar', 'Monarchy', 'Hamad ibn Khalifa al-Thani', 2973, 'QA'),
 ('SAU', 'Saudi Arabia', 'Asia', 'Middle East', 2149690.0, 1932, 21607000, 67.8, Decimal('137635.00'), Decimal('146171.00'), 'Al-´Arabiya as-Sa´udiya', 'Monarchy', 'Fahd ibn Abdul-Aziz al-Sa´ud', 3173, 'SA'),
 ('SYR', 'Syria', 'Asia', 'Middle East', 185180.0, 1941, 16125000, 68.5, Decimal('65984.00'), Decimal('64926.00'), 'Suriya', 'Republic', 'Bashar al-Assad', 3250, 'SY'),
 ('TUR', 'Turkey', 'Asia', 'Middle East', 774815.0, 1923, 66591000, 71.0, Decimal('210721.00'), Decimal('189122.00'), 'Türkiye', 'Republic', 'Ahmet Necdet Sezer', 3358, 'TR'),
 ('PSE', 'Palestine', 'Asia', 'Middle East', 6257.0, None, 3101000, 71.4, Decimal('4173.00'), None, 'Filastin', 'Autonomous Area', 'Yasser (Yasir) Arafat', 4074, 'PS')]

###  List only the country name and region for the countries in the Middle East region

In [22]:
%%sql

select name, region
from country 
where region = 'Middle East';

18 rows affected.

[('United Arab Emirates', 'Middle East'),
 ('Armenia', 'Middle East'),
 ('Azerbaijan', 'Middle East'),
 ('Bahrain', 'Middle East'),
 ('Georgia', 'Middle East'),
 ('Iraq', 'Middle East'),
 ('Israel', 'Middle East'),
 ('Yemen', 'Middle East'),
 ('Jordan', 'Middle East'),
 ('Kuwait', 'Middle East'),
 ('Cyprus', 'Middle East'),
 ('Lebanon', 'Middle East'),
 ('Oman', 'Middle East'),
 ('Qatar', 'Middle East'),
 ('Saudi Arabia', 'Middle East'),
 ('Syria', 'Middle East'),
 ('Turkey', 'Middle East'),
 ('Palestine', 'Middle East')]

### Show the country name and life expectancy of the 5 countries with the longest life expectancy

In [27]:
%%sql

select name, lifeexpectancy 
from country 
order by lifeexpectancy desc
limit 5;

5 rows affected.

[('Andorra', 83.5),
 ('Macao', 81.6),
 ('San Marino', 81.1),
 ('Japan', 80.7),
 ('Singapore', 80.1)]


### Show the country name, population, and gnp of the 5 countries with the smallest gnp

In [43]:
%%sql

select name, population, gnp
from country 
order by gnp 
limit 5;

5 rows affected.

[('East Timor', 885000, Decimal('0.00')),
 ('Greenland', 56000, Decimal('0.00')),
 ('Faroe Islands', 43000, Decimal('0.00')),
 ('Northern Mariana Islands', 78000, Decimal('0.00')),
 ('Mayotte', 149000, Decimal('0.00'))]

### Show all of the distinct forms of government

In [55]:
%%sql

select distinct governmentform
from country;

35 rows affected.

[('Monarchy',),
 ('Socialistic Republic',),
 ('Federal Republic',),
 ('Overseas Department of France',),
 ('Constitutional Monarchy',),
 ('Special Administrative Region of China',),
 ('Part of Denmark',),
 ('Administrated by the UN',),
 ('Republic',),
 ('Islamic Republic',),
 ('US Territory',),
 ('Monarchy (Emirate)',),
 ('Dependent Territory of the US',),
 ('Co-administrated',),
 ('Dependent Territory of the UK',),
 ('Constitutional Monarchy, Federation',),
 ('Nonmetropolitan Territory of France',),
 ('Territory of Australia',),
 ('Nonmetropolitan Territory of The Netherlands',),
 ('Constitutional Monarchy (Emirate)',),
 ('Occupied by Marocco',),
 ('Territorial Collectivity of France',),
 ('Dependent Territory of Norway',),
 ('Nonmetropolitan Territory of New Zealand',),
 ('Monarchy (Sultanate)',),
 ("People'sRepublic",),
 ('Parliamentary Coprincipality',),
 ('Commonwealth of the US',),
 ('Islamic Emirate',),
 ('Socialistic State',),
 ('Parlementary Monarchy',),
 ('Autonomous Area',),
 ('Federation',),
 ('Emirate Federation',),
 ('Independent Church State',)]

### Show all of the distinct regions of the world

In [56]:
%%sql

select distinct region
from country;

25 rows affected.

[('Micronesia/Caribbean',),
 ('Southern Africa',),
 ('Australia and New Zealand',),
 ('Southeast Asia',),
 ('Southern Europe',),
 ('Northern Africa',),
 ('Antarctica',),
 ('Nordic Countries',),
 ('Central Africa',),
 ('Micronesia',),
 ('Polynesia',),
 ('Western Europe',),
 ('Western Africa',),
 ('Caribbean',),
 ('Melanesia',),
 ('North America',),
 ('Eastern Europe',),
 ('Eastern Africa',),
 ('Middle East',),
 ('Southern and Central Asia',),
 ('British Islands',),
 ('Central America',),
 ('South America',),
 ('Baltic Countries',),
 ('Eastern Asia',)]

### List the country name and gnp of all of the countries that are Monarchies

In [47]:
%%sql

select name, gnp
from country 
where governmentform = 'Monarchy';

5 rows affected.

[('Bhutan', Decimal('372.00')),
 ('Qatar', Decimal('9472.00')),
 ('Saudi Arabia', Decimal('137635.00')),
 ('Swaziland', Decimal('1206.00')),
 ('Tonga', Decimal('146.00'))]

### List the country name, governmentform and population of the countries that are any kind of Monarchy (Monarchy, Constitutional Monarchy, or Monarchy (Sultanate)

In [52]:
%%sql

select name, governmentform, population
from country 
where governmentform = 'Monarchy' or 
governmentform = 'Constitutional Monarchy' or 
governmentform = 'Monarchy (Sultanate)' or 
governmentform = 'Monarchy (Emirate)';

37 rows affected.

[('Netherlands', 'Constitutional Monarchy', 15864000),
 ('Antigua and Barbuda', 'Constitutional Monarchy', 68000),
 ('Bahamas', 'Constitutional Monarchy', 307000),
 ('Bahrain', 'Monarchy (Emirate)', 617000),
 ('Barbados', 'Constitutional Monarchy', 270000),
 ('Belize', 'Constitutional Monarchy', 241000),
 ('Bhutan', 'Monarchy', 2124000),
 ('United Kingdom', 'Constitutional Monarchy', 59623400),
 ('Brunei', 'Monarchy (Sultanate)', 328000),
 ('Spain', 'Constitutional Monarchy', 39441700),
 ('Grenada', 'Constitutional Monarchy', 94000),
 ('Jamaica', 'Constitutional Monarchy', 2583000),
 ('Japan', 'Constitutional Monarchy', 126714000),
 ('Jordan', 'Constitutional Monarchy', 5083000),
 ('Cambodia', 'Constitutional Monarchy', 11168000),
 ('Lesotho', 'Constitutional Monarchy', 2153000),
 ('Liechtenstein', 'Constitutional Monarchy', 32300),
 ('Luxembourg', 'Constitutional Monarchy', 435700),
 ('Morocco', 'Constitutional Monarchy', 28351000),
 ('Monaco', 'Constitutional Monarchy', 34000),
 ('Nepal', 'Constitutional Monarchy', 23930000),
 ('Norway', 'Constitutional Monarchy', 4478500),
 ('Oman', 'Monarchy (Sultanate)', 2542000),
 ('Papua New Guinea', 'Constitutional Monarchy', 4807000),
 ('Qatar', 'Monarchy', 599000),
 ('Sweden', 'Constitutional Monarchy', 8861400),
 ('Saint Kitts and Nevis', 'Constitutional Monarchy', 38000),
 ('Saint Lucia', 'Constitutional Monarchy', 154000),
 ('Saint Vincent and the Grenadines', 'Constitutional Monarchy', 114000),
 ('Solomon Islands', 'Constitutional Monarchy', 444000),
 ('Saudi Arabia', 'Monarchy', 21607000),
 ('Swaziland', 'Monarchy', 1008000),
 ('Denmark', 'Constitutional Monarchy', 5330000),
 ('Thailand', 'Constitutional Monarchy', 61399000),
 ('Tonga', 'Monarchy', 99000),
 ('Tuvalu', 'Constitutional Monarchy', 12000),
 ('New Zealand', 'Constitutional Monarchy', 3862000)]

### List the country name and gnp of the countries in Southeast Asia with population less than 5 million

In [53]:
%%sql

select name, gnp
from country
where region = 'Southeast Asia' and
population < 5000000;

3 rows affected.

[('Brunei', Decimal('11705.00')),
 ('East Timor', Decimal('0.00')),
 ('Singapore', Decimal('86503.00'))]

### List the country names, gnp, and population where the new gnp is more than the old gnp

In [54]:
%%sql

select name, gnp, population
from country 
where gnp > gnpold;

115 rows affected.

[('Netherlands', Decimal('371362.00'), 15864000),
 ('Albania', Decimal('3205.00'), 3401200),
 ('Algeria', Decimal('49982.00'), 31471000),
 ('Antigua and Barbuda', Decimal('612.00'), 68000),
 ('United Arab Emirates', Decimal('37966.00'), 2441000),
 ('Argentina', Decimal('340238.00'), 37032000),
 ('Armenia', Decimal('1813.00'), 3520000),
 ('Aruba', Decimal('828.00'), 103000),
 ('Azerbaijan', Decimal('4127.00'), 7734000),
 ('Bahamas', Decimal('3527.00'), 307000),
 ('Bahrain', Decimal('6366.00'), 617000),
 ('Bangladesh', Decimal('32852.00'), 129155000),
 ('Barbados', Decimal('2223.00'), 270000),
 ('Belgium', Decimal('249704.00'), 10239000),
 ('Belize', Decimal('630.00'), 241000),
 ('Benin', Decimal('2357.00'), 6097000),
 ('Bermuda', Decimal('2328.00'), 65000),
 ('Bolivia', Decimal('8571.00'), 8329000),
 ('United Kingdom', Decimal('1378330.00'), 59623400),
 ('Virgin Islands, British', Decimal('612.00'), 21000),
 ('Bulgaria', Decimal('12178.00'), 8190900),
 ('Burkina Faso', Decimal('2425.00'), 11937000),
 ('Cayman Islands', Decimal('1263.00'), 38000),
 ('Costa Rica', Decimal('10226.00'), 4023000),
 ('Djibouti', Decimal('382.00'), 638000),
 ('Dominica', Decimal('256.00'), 71000),
 ('Dominican Republic', Decimal('15846.00'), 8495000),
 ('Ecuador', Decimal('19770.00'), 12646000),
 ('Egypt', Decimal('82710.00'), 68470000),
 ('El Salvador', Decimal('11863.00'), 6276000),
 ('Spain', Decimal('553233.00'), 39441700),
 ('Ethiopia', Decimal('6353.00'), 62565000),
 ('Gabon', Decimal('5493.00'), 1226000),
 ('Georgia', Decimal('6064.00'), 4968000),
 ('Ghana', Decimal('7137.00'), 20212000),
 ('Guam', Decimal('1197.00'), 168000),
 ('Guatemala', Decimal('19008.00'), 11385000),
 ('Guinea-Bissau', Decimal('293.00'), 1213000),
 ('Haiti', Decimal('3459.00'), 8222000),
 ('Honduras', Decimal('5333.00'), 6485000),
 ('India', Decimal('447114.00'), 1013662000),
 ('Iran', Decimal('195746.00'), 67702000),
 ('Ireland', Decimal('75921.00'), 3775100),
 ('Iceland', Decimal('8255.00'), 279000),
 ('Italy', Decimal('1161755.00'), 57680000),
 ('Austria', Decimal('211860.00'), 8091800),
 ('Jamaica', Decimal('6871.00'), 2583000),
 ('Yemen', Decimal('6041.00'), 18112000),
 ('Jordan', Decimal('7526.00'), 5083000),
 ('Cameroon', Decimal('9174.00'), 15085000),
 ('Cape Verde', Decimal('435.00'), 428000),
 ('Kazakstan', Decimal('24375.00'), 16223000),
 ('Central African Republic', Decimal('1054.00'), 3615000),
 ('China', Decimal('982268.00'), 1277558000),
 ('Comoros', Decimal('4401.00'), 578000),
 ('Congo, The Democratic Republic of the', Decimal('6964.00'), 51654000),
 ('Greece', Decimal('120724.00'), 10545700),
 ('Croatia', Decimal('20208.00'), 4473000),
 ('Cyprus', Decimal('9333.00'), 754700),
 ('Latvia', Decimal('6398.00'), 2424200),
 ('Lebanon', Decimal('17121.00'), 3282000),
 ('Libyan Arab Jamahiriya', Decimal('44806.00'), 5605000),
 ('Liechtenstein', Decimal('1119.00'), 32300),
 ('Lithuania', Decimal('10692.00'), 3698500),
 ('Luxembourg', Decimal('16321.00'), 435700),
 ('Madagascar', Decimal('3750.00'), 15942000),
 ('Mali', Decimal('2642.00'), 11234000),
 ('Malta', Decimal('3512.00'), 380200),
 ('Morocco', Decimal('36124.00'), 28351000),
 ('Martinique', Decimal('2731.00'), 395000),
 ('Mauritius', Decimal('4251.00'), 1158000),
 ('Mexico', Decimal('414972.00'), 98881000),
 ('Mongolia', Decimal('1043.00'), 2662000),
 ('Mozambique', Decimal('2891.00'), 19680000),
 ('Myanmar', Decimal('180375.00'), 45611000),
 ('Niger', Decimal('1706.00'), 10730000),
 ('Nigeria', Decimal('65707.00'), 111506000),
 ('Côte d\x92Ivoire', Decimal('11345.00'), 14786000),
 ('Oman', Decimal('16904.00'), 2542000),
 ('Pakistan', Decimal('61289.00'), 156483000),
 ('Panama', Decimal('9131.00'), 2856000),
 ('Portugal', Decimal('105954.00'), 9997600),
 ('Puerto Rico', Decimal('34100.00'), 3869000),
 ('Poland', Decimal('151697.00'), 38653600),
 ('Qatar', Decimal('9472.00'), 599000),
 ('France', Decimal('1424285.00'), 59225700),
 ('French Polynesia', Decimal('818.00'), 235000),
 ('Réunion', Decimal('8287.00'), 699000),
 ('Romania', Decimal('38158.00'), 22455500),
 ('Rwanda', Decimal('2036.00'), 7733000),
 ('Germany', Decimal('2133367.00'), 82164700),
 ('Senegal', Decimal('4787.00'), 9481000),
 ('Slovakia', Decimal('20594.00'), 5398700),
 ('Slovenia', Decimal('19756.00'), 1987800),
 ('Sri Lanka', Decimal('15706.00'), 18827000),
 ('Finland', Decimal('121914.00'), 5171300),
 ('Suriname', Decimal('870.00'), 417000),
 ('Switzerland', Decimal('264478.00'), 7160400),
 ('Syria', Decimal('65984.00'), 16125000),
 ('Tajikistan', Decimal('1990.00'), 6188000),
 ('Tanzania', Decimal('8005.00'), 33517000),
 ('Denmark', Decimal('174099.00'), 5330000),
 ('Togo', Decimal('1449.00'), 4629000),
 ('Trinidad and Tobago', Decimal('6232.00'), 1295000),
 ('Chad', Decimal('1208.00'), 7651000),
 ('Czech Republic', Decimal('55017.00'), 10278100),
 ('Tunisia', Decimal('20026.00'), 9586000),
 ('Turkey', Decimal('210721.00'), 66591000),
 ('Turkmenistan', Decimal('4397.00'), 4459000),
 ('Hungary', Decimal('48267.00'), 10043200),
 ('Uruguay', Decimal('20831.00'), 3337000),
 ('Vanuatu', Decimal('261.00'), 190000),
 ('Venezuela', Decimal('95023.00'), 24170000),
 ('Estonia', Decimal('5328.00'), 1439200),
 ('United States', Decimal('8510700.00'), 278357000)]