## Aggregate Query Practice

This assignment is to practice with the new SQL clauses

* GROUP BY
* HAVING


Due:  By Class on Wed November 11

In [4]:
# all of your notebooks and homework using SQL are going to start something like this
import warnings
warnings.filterwarnings('ignore')
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%sql postgresql://vannjo02:@localhost/world

'Connected: vannjo02@world'

### Which government form has the highest average life expectancy?

In [27]:
%%sql

select governmentform, avg(lifeexpectancy) from country
group by governmentform
order by avg(lifeexpectancy) desc
limit 1;

1 rows affected.

[('Parliamentary Coprincipality', 83.5)]

### Calculate the surface area of the regions and sort in ascending order

In [18]:
%%sql

select region, sum(surfacearea) as surfacearea from country
group by region
order by sum(surfacearea) asc;

25 rows affected.

[('Micronesia/Caribbean', 16.0),
 ('Micronesia', 3102.0),
 ('Polynesia', 8463.0),
 ('Baltic Countries', 175117.0),
 ('Caribbean', 234423.0),
 ('British Islands', 313173.0),
 ('Melanesia', 540774.0),
 ('Western Europe', 1108460.0),
 ('Southern Europe', 1316390.0),
 ('Nordic Countries', 1321900.0),
 ('Central America', 2479530.0),
 ('Southern Africa', 2674780.0),
 ('Southeast Asia', 4494800.0),
 ('Middle East', 4820590.0),
 ('Western Africa', 6138340.0),
 ('Eastern Africa', 6299890.0),
 ('Central Africa', 6612670.0),
 ('Australia and New Zealand', 8011940.0),
 ('Northern Africa', 8524700.0),
 ('Southern and Central Asia', 10791100.0),
 ('Eastern Asia', 11774500.0),
 ('Antarctica', 13132100.0),
 ('South America', 17864900.0),
 ('Eastern Europe', 18814100.0),
 ('North America', 21500500.0)]

### which government types have the lowest average life expectancy?

In [23]:
%%sql

select governmentform, avg(lifeexpectancy) from country
group by governmentform
order by avg(lifeexpectancy) asc;

35 rows affected.

[('Independent Church State', 0.0),
 ('Dependent Territory of the US', 0.0),
 ('Co-administrated', 0.0),
 ('Territory of Australia', 0.0),
 ('Dependent Territory of Norway', 0.0),
 ('Nonmetropolitan Territory of New Zealand', 23.6999994913737),
 ('Nonmetropolitan Territory of France', 36.9000015258789),
 ('Islamic Emirate', 45.9000015258789),
 ('Administrated by the UN', 46.0),
 ('Occupied by Marocco', 49.7999992370605),
 ('Dependent Territory of the UK', 51.2000007629395),
 ('Monarchy', 60.1800018310547),
 ('Republic', 62.4590164247106),
 ('Islamic Republic', 63.1499977111816),
 ('Federal Republic', 68.433332824707),
 ('Territorial Collectivity of France', 68.5499992370605),
 ('Parlementary Monarchy', 69.1999969482422),
 ("People'sRepublic", 71.4000015258789),
 ('Autonomous Area', 71.4000015258789),
 ('Constitutional Monarchy', 71.8689656750909),
 ('Socialistic Republic', 72.0666656494141),
 ('Monarchy (Sultanate)', 72.7000007629395),
 ('Monarchy (Emirate)', 73.0),
 ('Part of Denmark', 73.25),
 ('Emirate Federation', 74.0999984741211),
 ('Socialistic State', 75.5),
 ('Commonwealth of the US', 75.5499992370605),
 ('Overseas Department of France', 76.0249996185303),
 ('Constitutional Monarchy (Emirate)', 76.0999984741211),
 ('Nonmetropolitan Territory of The Netherlands', 76.5499992370605),
 ('Constitutional Monarchy, Federation', 76.9500026702881),
 ('US Territory', 77.0),
 ('Federation', 79.5999984741211),
 ('Special Administrative Region of China', 80.5499992370605),
 ('Parliamentary Coprincipality', 83.5)]

### What regions have a high average life expectancy?

In [25]:
%%sql

select region, avg(lifeexpectancy) from country
group by region
order by avg(lifeexpectancy) desc;

25 rows affected.

[('Western Europe', 78.2555567423503),
 ('British Islands', 77.25),
 ('North America', 75.8199996948242),
 ('Eastern Asia', 75.25),
 ('Caribbean', 73.0583332379659),
 ('Southern Europe', 71.4266672770182),
 ('Central America', 71.0249996185303),
 ('Middle East', 70.5666671329074),
 ('Eastern Europe', 69.9299995422363),
 ('Baltic Countries', 69.0),
 ('Micronesia', 68.0857140677316),
 ('Nordic Countries', 67.1428571428571),
 ('Melanesia', 67.1400009155273),
 ('South America', 65.878570829119),
 ('Northern Africa', 65.3857127598354),
 ('Southeast Asia', 64.4000001387163),
 ('Southern and Central Asia', 61.3500003814697),
 ('Western Africa', 52.7411768296186),
 ('Central Africa', 50.3111110263401),
 ('Eastern Africa', 48.2699998855591),
 ('Southern Africa', 44.8199996948242),
 ('Polynesia', 42.4400001525879),
 ('Australia and New Zealand', 31.5200012207031),
 ('Micronesia/Caribbean', 0.0),
 ('Antarctica', 0.0)]

### What is the most common form of government?

In [28]:
%%sql

select governmentform, count(*) as govformfreq from country
group by governmentform
order by govformfreq desc;

35 rows affected.

[('Republic', 122),
 ('Constitutional Monarchy', 29),
 ('Federal Republic', 15),
 ('Dependent Territory of the UK', 12),
 ('Monarchy', 5),
 ('Territory of Australia', 4),
 ('Overseas Department of France', 4),
 ('Constitutional Monarchy, Federation', 4),
 ('Nonmetropolitan Territory of France', 4),
 ('Socialistic Republic', 3),
 ('US Territory', 3),
 ('Nonmetropolitan Territory of New Zealand', 3),
 ('Part of Denmark', 2),
 ('Special Administrative Region of China', 2),
 ('Nonmetropolitan Territory of The Netherlands', 2),
 ('Territorial Collectivity of France', 2),
 ('Dependent Territory of Norway', 2),
 ('Monarchy (Sultanate)', 2),
 ('Commonwealth of the US', 2),
 ('Islamic Republic', 2),
 ('Occupied by Marocco', 1),
 ('Parlementary Monarchy', 1),
 ('Autonomous Area', 1),
 ('Monarchy (Emirate)', 1),
 ('Federation', 1),
 ("People'sRepublic", 1),
 ('Parliamentary Coprincipality', 1),
 ('Administrated by the UN', 1),
 ('Co-administrated', 1),
 ('Islamic Emirate', 1),
 ('Emirate Federation', 1),
 ('Independent Church State', 1),
 ('Dependent Territory of the US', 1),
 ('Socialistic State', 1),
 ('Constitutional Monarchy (Emirate)', 1)]

### Which region has the highest total gnp?

In [29]:
%%sql

select region, sum(gnp) as regiongnp from country
group by region
order by regiongnp desc;

25 rows affected.

[('North America', Decimal('9111890.00')),
 ('Eastern Asia', Decimal('5524885.00')),
 ('Western Europe', Decimal('4673272.00')),
 ('Southern Europe', Decimal('2012289.00')),
 ('South America', Decimal('1511874.00')),
 ('British Islands', Decimal('1454251.00')),
 ('Southern and Central Asia', Decimal('810604.00')),
 ('Middle East', Decimal('677260.00')),
 ('Nordic Countries', Decimal('676655.00')),
 ('Eastern Europe', Decimal('659980.00')),
 ('Southeast Asia', Decimal('642643.00')),
 ('Central America', Decimal('473151.00')),
 ('Australia and New Zealand', Decimal('405851.00')),
 ('Northern Africa', Decimal('243870.00')),
 ('Southern Africa', Decimal('126931.00')),
 ('Western Africa', Decimal('106711.00')),
 ('Caribbean', Decimal('103586.20')),
 ('Eastern Africa', Decimal('69925.00')),
 ('Central Africa', Decimal('32938.00')),
 ('Baltic Countries', Decimal('22418.00')),
 ('Melanesia', Decimal('10530.00')),
 ('Micronesia', Decimal('1848.70')),
 ('Polynesia', Decimal('1545.00')),
 ('Micronesia/Caribbean', Decimal('0.00')),
 ('Antarctica', Decimal('0.00'))]

### Show the 10 government forms with the largest population

In [30]:
%%sql

select governmentform, sum(population) as totalpopulation from country
group by governmentform
order by totalpopulation desc
limit(10);

10 rows affected.

[('Federal Republic', 2009320500),
 ('Republic', 2003311200),
 ("People'sRepublic", 1277558000),
 ('Constitutional Monarchy', 405893000),
 ('Socialistic Republic', 115072000),
 ('Islamic Republic', 97192000),
 ('Constitutional Monarchy, Federation', 82516000),
 ('Monarchy', 25437000),
 ('Islamic Emirate', 22720000),
 ('Special Administrative Region of China', 7255000)]

### List the total population of each continent and order them from smallest to largest

In [31]:
%%sql

select continent, sum(population) as continentpop from country
group by continent
order by continentpop asc;

7 rows affected.

[('Antarctica', 0),
 ('Oceania', 30401150),
 ('South America', 345780000),
 ('North America', 482993000),
 ('Europe', 730074600),
 ('Africa', 784475000),
 ('Asia', 3705025700)]

### Show the total number of countries for each region in Europe

In [32]:
%%sql

select region, count(name) as countrycount from country
where continent = 'Europe'
group by region;

6 rows affected.

[('British Islands', 2),
 ('Baltic Countries', 3),
 ('Western Europe', 9),
 ('Southern Europe', 15),
 ('Eastern Europe', 10),
 ('Nordic Countries', 7)]

### List the total population of each region in Africa from lowest to highest.

In [34]:
%%sql

select region, sum(population) as regionpop from country
where continent = 'Africa'
group by region
order by regionpop asc;

5 rows affected.

[('Southern Africa', 46886000),
 ('Central Africa', 95652000),
 ('Northern Africa', 173266000),
 ('Western Africa', 221672000),
 ('Eastern Africa', 246999000)]